@model AzureStorageDemo.Models.ImageEntity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ImageEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageId" class="control-label"></label>
                <input asp-for="ImageId" class="form-control" />
                <span asp-validation-for="ImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageDescription" class="control-label"></label>
                <input asp-for="ImageDescription" class="form-control" />
                <span asp-validation-for="ImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Upload Profile File</label>
                <input type="file" name="ImageFile" accept="doc/*" class="form-control fileupload" />
                @*<input asp-for="ImageURL" class="form-control" />*@
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label class="control-label col-md-2" for="profileFile">Upload Profile File</label>
            <div class="col-md-10">
                <input type="file" name="profileFile" accept="doc/*" class="form-control fileupload" />
            </div>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
